*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

p{
    text-align: center;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 10px;
    font-size: 40px;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif
}
.intro_container{
position: relative;
text-align: center
}

.intro{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 80px;
  
}
img{
    height: 25rem;
    width: 90%;
    margin-left: 4rem;
    padding: 10px;
    border-radius: 20px;
}
.label{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    
}
input{
    
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    outline: none;
    /*border-style: solid;
    border-color: bisque ;
    border-radius: 10px;*/
    border: none;
    border-bottom: 2px solid bisque;
    
}

.form{
    
    margin-left: 8rem;
    width:90%;   
}
.password{
    padding-top: 10px;
}
.btn{
width: 80%;
padding: 5px;
margin: 10px;
margin-left: 3rem;
border-style:solid;
border-radius: 7px;
border-color: bisque;
background-color: bisque;
font-size: 19px;
color: orangered;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
}

.terms_conditions{
    color: orangered;
    font-weight: 50px;
    margin-left: 34rem;
    
}
